@font-face {
    font-family: 'bukhari script';
    src: url('/fonts/bukhariscript-regular-webfont.woff2') format('woff2'), url('/fonts/bukhariscript-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'roundo';
    src: url('/fonts/roundo-regular-webfont.woff2') format('woff2'), url('/fonts/roundo-regular-webfont.woff') format('woff');
}

.banner {
    background-color: #ffcccd;
    text-align: center;
}

.navbar {
    position: sticky;
    background-color: white;
    border-top: 3px solid #ff5758;
    border-bottom: 3px solid #ff5758;
    padding: auto;
}

.navbar a {
    color: #ff5758;
    font-weight: bold;
    font-size: 25px;
    font-family: 'roundo', calibri, sans-serif;
}

.navbar a:hover {
    color: #ffcccd;
    text-shadow: none;
    text-decoration: none;
}

.cart {
    background-image: url("/img/cart.png");
    background-repeat: no-repeat;
    width: 40px;
    margin-top: 10px;
}

.cart:hover {
    background-image: url("/img/cart2.png");
}

.navbar .home {
    font-family: 'bukhari script', calibri, sans-serif;
    font-weight: normal;
    font-size: 40px;
    color: white;
    text-shadow: -2px -2px 0 #ff5758, 2px -2px 0 #ff5758, 2px 2px 0 #ff5758, -2px 2px 0 #ff5758;
}

.dropdown-menu {
    font-family: 'roundo', calibri, sans-serif;
    border: 3px solid #ff5758;
    text-decoration: none;
}

.account {
    background-image: url("/img/account.png");
    background-repeat: no-repeat;
    width: 40px;
    margin-left: 5px;
    margin-top: 10px;
}

.account:hover {
    background-image: url("/img/account2.png");
}

.footer {
    background-color: #ff5758;
    padding: 100px;
    color: white;
    border-top: 8px solid #ffcccd;
    font-family: 'roundo', calibri, sans-serif;
}

.footer p {
    line-height: 10px;
}

.footer a {
    text-decoration: underline;
    color: white;
    font-family: 'roundo', calibri, sans-serif;
}

.jumbotron {
    margin-top: 75px;
    background-color: white;
    color: #ff5758;
    font-weight: bolder;
    font-family: 'roundo', calibri, sans-serif;
    text-align: center;
    padding: 50px;
}

.col-6 {
    margin-bottom: 30px;
}

.brandname {
    font-family: 'bukhari script', calibri, sans-serif;
    font-weight: normal;
    font-size: 40px;
    color: white;
    text-shadow: -2px -2px 0 #ff5758, 2px -2px 0 #ff5758, 2px 2px 0 #ff5758, -2px 2px 0 #ff5758;
}

.home {
    text-align: left;
}

.links {
    margin-top: 100px;
    color: #ff5758;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'roundo', calibri, sans-serif;
    line-height: 10px;
}

iframe {
    margin-top: -70px;
    margin-bottom: -80px
}

.accountpage {
    margin-top: 40px;
}
