@font-face {
    font-family: 'bukhari script';
    src: url('/fonts/bukhariscript-regular-webfont.woff2') format('woff2'), url('/fonts/bukhariscript-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'roundo';
    src: url('/fonts/roundo-regular-webfont.woff2') format('woff2'), url('/fonts/roundo-regular-webfont.woff') format('woff');
}

.banner {
    background-color: #ffcccd;
    text-align: center;
}

.navbar {
    position: sticky;
    font-size: 25px;
    font-family: 'roundo', calibri, sans-serif;
    background-color: white;
    border: 3px solid #ff5758;
    padding: auto;
}

.navbar a {
    color: #ff5758;
}

.navbar a:hover {
    color: #ffcccd;
    text-shadow: none;
    text-decoration: none;
}

.icon {
    background-image: url("/img/cart.png");
    background-repeat: no-repeat;
}

.icon:hover {
    background-image: url("/img/cart2.png");
}

.navbar .home {
    font-family: 'bukhari script', calibri, sans-serif;
    font-weight: normal;
    font-size: 40px;
    color: white;
    text-shadow: -2px -2px 0 #ff5758, 2px -2px 0 #ff5758, 2px 2px 0 #ff5758, -2px 2px 0 #ff5758;
}

.footer {
    background-color: #ff5758;
    padding: 100px;
    color: white;
    font-family: 'roundo', calibri, sans-serif;
}

.footer p {
    line-height: 0px;
}